.App {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  background-color: rgb(43, 46, 50);
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

.flag-container {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.input-container {
  width: 100%;
  max-width: 280px;
}

.country-input {
  font-size: 16px;
  padding: 12px 8px;
  margin-top: 16px;
  border: none;
  outline: none;
  width: 100%;
  border-bottom: 1px solid rgb(154, 154, 154);
  text-transform: capitalize;
}

.suggestion-list {
  background-color: white;
  max-height: 250px;
  overflow-y: scroll;
  width: 100%;
  max-width: 300px;
}

.suggestion-list li {
  font-size: 16px;
  padding: 12px 8px;
  border-bottom: 1px solid rgb(229, 229, 229);
  cursor: pointer;
  text-transform: capitalize;
}

.submit-button {
  background-color: rgb(41, 79, 161);
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  font-size: 16px;
  margin: 12px;
  padding: 10px 40px;
  cursor: pointer;
  border-radius: 8px;
}

.footer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  position: fixed;
  bottom: 0;
  color: white;
  width: 100%;
  font-size: 18px;
  padding: 18px;
  background-color: rgb(32, 34, 37);
}